@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300&display=swap');

html{
  background: rgb(65, 64, 64);
  color: whitesmoke;
}
body{
    font-family: "Montserrat",'Yu Gothic','游ゴシック体','Noto Sans JP','Meiryo','MS PGothic';
}
label{

  display: inline-block;
  text-align: right;
}

input{
  background: #e5e5e5;
  color: rgb(65, 64, 64);
  font-size: 120%;
  border: none;
}

.Message{
  color: #a0a0a0;
}




#Title{
  font-size: 300%;
}
.js-summary {
  cursor: pointer;
}
#chat{
  width: 100%;
  height: 80%;
}

.js-container {
  display: none;
}
#AccessPort{
  background-color: rgba(131, 149, 163, 0.59)
}
#ComposedMessage{
  width: 70%
}
#ComposedMessage2{
  width: 70%
}
.x:hover{
  color: whitesmoke;
  background-color: red;
  transition: 0.5s
}
.x{
  color: whitesmoke;
  transition: 0.5s
}

.data{
  color: rgb(65, 64, 64)
}
.inline{
  display: inline;
}
.sel p{

    display: inline;
  color: whitesmoke;
    transition: 0.5s;
    text-align: right;
}
.sel p:hover{
    background: #666666;
  transition: 0.5s
}
.sikaku{

    display: inline;
  color: whitesmoke;
    transition: 0.5s;
    text-align: right;
}
.sikaku:hover{
    background: #666666;
  transition: 0.5s
}
.lite{
  background-color:whitesmoke;
  color:rgb(65,64,64)
}
.lite:hover{
  background-color: #c4c4c4;
transition: 0.5s
}
 /* -------------------- */
/* ▼メニューバーの装飾 */
/* -------------------- */
ul.ddmenu {
    margin: 0px;               /* メニューバー外側の余白(ゼロ) */
    padding: 0px 0px 0px 1px; /* メニューバー内側の余白(左に15px) */
    background-color: #7c7c7c7c; /* バーの背景色(濃い赤色) */
         /* メニュー項目の文字色(白色) */
    line-height: 20px;         /* メニュー項目のリンクの高さ(40px) */   /* メインメニューの文字列の配置(中央寄せ) */
    text-decoration: none;     /* メニュー項目の装飾(下線を消す) */        /* 太字にする */
    display: block;            /* ★項目内全域をリンク可能にする */
    font-size: 20px;

 }
 
 /* -------------------------- */
 /* ▼メインメニュー項目の装飾 */
 /* -------------------------- */
 ul.ddmenu li {
   color: whitesmoke;
    width: 125px;          /* メニュー項目の横幅(125px) */
    display: inline-block; /* ★横並びに配置する */
    list-style-type: none; /* ★リストの先頭記号を消す */
    position: relative; 
       /* ★サブメニュー表示の基準位置にする */
 }
 ul.ddmenu a {
           /* メニュー項目の文字色(白色) */
    line-height: 20px;         /* メニュー項目のリンクの高さ(40px) */
    text-align: center;        /* メインメニューの文字列の配置(中央寄せ) */
    text-decoration: none;     /* メニュー項目の装飾(下線を消す) */
    display: block;            /* ★項目内全域をリンク可能にする */
 }
 .title{
   color: whitesmoke
 }
 /*.ddmenu li a{
  color:whitesmoke;
}*/
 #Clock1{
  color:whitesmoke;
      width: 400px;     
}
#Clock2{
  color:whitesmoke;
}

 ul.ddmenu a:hover {
    background-color: #acf5ffab; /* メニュー項目にマウスが載ったときの背景色(淡いピンク) */

 }
 
 /* ---------------------------------- */
 /* ▼サブメニューがある場合に開く処理 */   /* ※サブメニューが2階層以上ある場合の記述 */
 /* ---------------------------------- */
 ul.ddmenu li:hover > ul {
    display: block;  
      font-family: "Montserrat","Yu Gothic Light"       /* ★マウスポインタが載っている項目の内部にあるリストを表示する */
 }
 
 /* -------------------- */
 /* ▼サブメニューの装飾 */
 /* -------------------- */
 ul.ddmenu ul {
    margin: 0px;         /* ★サブメニュー外側の余白(ゼロ) */
    padding: 0px;        /* ★サブメニュー内側の余白(ゼロ) */
    display: none;       /* ★標準では非表示にする */
    position: absolute;  /* ★絶対配置にする */
 }
 
 /* -------------------------------- */
 /* ▼サブメニュー(以降の)項目の装飾 */
 /* -------------------------------- */
 ul.ddmenu ul li {
    width: 225px;               /* サブメニュー1項目の横幅(135px) */
    border-top: 1px solid rgb(253, 253, 253); /* 項目上側の枠線(ピンク色で1pxの実線) */
 }
 ul.ddmenu ul li a {
    line-height: 20px;   /* サブメニュー1項目の高さ(35px) */
    text-align: left;    /* 文字列の配置(左寄せ) */
    padding-left: 5px;   /* 文字列前方の余白(5px) */
    font-weight: normal; /* 太字にはしない */
    background-color: rgba(24, 24, 24, 0.541);
    backdrop-filter: blur(2px);
 }
 ul.ddmenu ul li a:hover {
    background-color: #91c9f7c5; /* サブメニュー項目にマウスが載ったときの背景色(淡い黄色) */
    color: #36393f; /* サブメニュー項目にマウスが載ったときの文字色(濃い緑色) */
 }
 
 /* ----------------------------------- */
 /* ▼3階層目以降(孫メニュー以降)の装飾 */   /* ※下ではなく横(右)に表示します。 */
 /* ----------------------------------- */
 ul.ddmenu ul ul {
    margin: 0px;         /* ★サブメニュー外側の余白(ゼロ) */
    padding: 0px;        /* ★サブメニュー内側の余白(ゼロ) */
    display: none;       /* ★標準では非表示にする */
    position: absolute;  /* ★絶対配置にする */
    top: -1px;           /* 1pxだけ上方向にずらす(※上に1pxの枠線を引いている場合) */
    left: 100%;          /* ★基準位置からの距離を親ボックスの幅100％にする */
    border-left: 1px solid rgb(253, 253, 253); /* 左側に引く枠線(ピンク色で1pxの実線) */
 }
.data{
  color: rgb(65, 64, 64)
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.content{
    margin: 0 auto;
    padding: 40px;
}
.box{
    background: #eee;
    height: 200px;
    margin-bottom: 100px;
}
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal__bg{
    background: rgba(31, 31, 31, 0.843);

  backdrop-filter: blur(2px);
    height: 100vh;
    position: absolute;
    width: 100%;
}
.modal__content{
    background: rgb(65, 64, 64);
    left: 50%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 1px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
}

.loadingBar {
    width: 0px;
    height: 4px;
    background: #03a7eb;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.2s linear 0s;
}
.loadingBar2 {
    width: 0px;
    height:5px;
    background: #03a7eb;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.2s linear 0s;
}


.row {
  display: flex;
  flex-direction: row; }
.accordion-side{
  border: 1px solid #ccc;
  width: 110px;
  text-align: left;
  position: relative;
  cursor: pointer;
  background-color: white;
  padding: 8px 8px 8px 3%; }
.accordion-side::after{
  content: '';
  width: 8px;
  height: 8px;
  border: 0px;
  border-top: solid 1px black;
  border-right: solid 1px black;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left: -6px;
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 4%;
  margin-top: -5px; }
.accordion-content-side {
  display: inline-block;
  width: 150px;
  text-align: center;
  white-space: nowrap;
  background-color: #616161; }
.accordion-box-side {
  justify-content: flex-start;
  align-items: stretch;
  padding: 0%; }
.accordion-box-side + .accordion-box-side {
  margin-top: 20px; }
  .tem{
    width: 35px;
    height: 21px;
  }
  .plus{
    background-color: #999999;
  }
/*タブ切り替え全体のスタイル*/
.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: rgb(65, 64, 64);
  display: block;
  width: 100%;
  margin: 0 auto;
}

/*タブのスタイル*/
.tab_item {
  width: 20%;
  height: 50%;
  border-bottom: 3px solid #03a7eb;
  background-color: rgb(65, 64, 64);
  color: whitesmoke;
  display: block;
  float: left;
  text-align: center;
  font-size: 100%;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}


/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #5ab4bd;
  color: #fff;
}
.dlb{
  display: block;
  color: whitesmoke;
  text-decoration: none;
  border: 3px solid #03a7eb;
  text-align: center;
}